---
layout: base
title: Javascript Carousel
path: ../../
---

<div class="container">
  <h2 class="text-center">Javascript Carousel Component</h2>

  <div class="carousel-wrapper">
    <div class="carousel">

      <img class="carousel__photo initial" src="http://placekitten.com/1600/900">
      <img class="carousel__photo" src="http://placekitten.com/g/1600/900">
      <img class="carousel__photo" src="http://placekitten.com/1600/900">
      <img class="carousel__photo" src="http://placekitten.com/g/1600/900">
      <img class="carousel__photo" src="http://placekitten.com/1600/900">
      
      <div class="carousel__button--next"></div>
      <div class="carousel__button--prev"></div>

    </div>
  </div>

  {# <h3>
    {{ jsDataFileSuffix }}
  </h3>
  <div class="carousel">
    <div class="arrow-left">
      <span class="arrow">&#x2039;</span>
    </div>
    <img src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Carousel Image" />
    <div class="arrow-right">
      <span class="arrow">&#x203A;</span>
    </div>
    <div class="indicators">
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
  </div> #}
</div>
